.infoContainer {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  box-shadow: 5px 5px 15px 5px grey;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.tapName {
  text-align: left;
  margin: 15px;
}

.imgCon {
  width: 100%;
  padding: 0 10px 0 10px;
  border-top: #e3e3e3 1px solid;
  border-bottom: #e3e3e3 1px solid;
}

.infoImg {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.info-button {
  width: 45%;
  height: 50px;
  color: white;
  background-color: #3199cf;
  border: none;
  border-radius: 10px;
  margin: 5px 5px 15px 5px;
  font-size: larger;
}

.info {
  text-align: left;
  margin: 15px;
}

.closebtn {
  font-size: 100%; /*ボタンの大きさ*/
  font-weight: bold;
  border: 1px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 1.3em;
  line-height: 1.3em;
  cursor: pointer;
  transition: 0.2s;
  float: right;
}

.closebtn:hover {
  opacity: 0.5;
  color: #999;
}

.bottomBar {
  width: 100%;
  height: 20px;
  background-color: white;
}
