.App {
  text-align: center;
  height: 100vh;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

#nav {
  overflow: hidden;
  margin: 0 auto;
  padding: 0 3%;
  width: 100%;
  height: 10vh;
  background-color: #3199cf;
  color: white;
  font-size: 12px;
}
.navBtn {
  position: relative;
  padding: 10px 0 0 0;
  float: left;
  width: 25%;
}
#nav a {
  display: block;
  width: 90%;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
#nav img {
  width: 40%;
  height: auto;
}

#nav a img {
  width: 50%;
  height: auto;
}
